.App {
  margin: 0 auto;
  width: 50%;
}

.App-logo {
  animation: App-logo-grow infinite 10s linear;
  height: 80px;
}

.App-header {
  padding: 50px;
  text-align: center;
}

h4 {
  color: #999;
  font-weight: normal;
  margin-top: -14px;
}

pre {
  font-size: 24px;
  line-height: 36px;
}

.Sample-form {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 30px;
}

.Sample-form label {
  display: block;
  padding: 10px 0;
}

.Sample-form input {
  margin-left: 10px;
}

.Store-contents {
  border: 1px solid #eee;
  border-radius: 10px;
  margin: 30px 0;
  padding: 20px 30px 10px;
}

@keyframes App-logo-grow {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
